#cart {
  display: block;
  overflow: hidden;
  width: 100%;
}

#cart-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 60vh;
  border: 1px solid rgb(61, 61, 61);
  margin: 1rem;
  padding: 2rem;
  border-radius: 26px;
  width: 40vw;
  overflow-y: auto;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  input {
    padding: 8px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.cart-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60vw;
  max-height: 60vh;
  overflow-y: scroll;

  .cart-item {
    display: flex;
    position: relative;
    max-width: 500px;

    .cart-item-image {
      width: 200px;
      object-fit: contain;
      height: 200px;
      margin-right: 2rem;
    }

    .cart-item-remove {
      background-color: #ff0000;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    .cart-item-remove:hover{
      background-color: #b51818;
    }
  }

  .cart-item-description {
    display: flex;
    flex-direction: column;
  }
}

.cart-footer {
  text-align: end;
  height: 100px;
}

.cart-empty {
  width: 100%;
  text-align: center;
}

.cart-empty-container {
  height: calc(100vh - 200px);
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {

  #main{
    margin-right: 0;
    flex-wrap: wrap;
  }
  #cart{
    overflow-x: hidden;

    .flex{
      overflow: auto;
      flex-direction: column-reverse;
    }
  }
  #cart-form{
    width: 90%;
    box-sizing: border-box;
    margin: auto;
  }
  
  .items-in-cart{
    top: -1px;
  }

  .cart-list{
    width: 90%;
    margin: 2rem auto;
    flex-wrap: wrap;
    align-content: center;
  }
  .cart-item{
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .cart-empty-container{
    min-height: 100px;
  }
}