.signup {
  
  input{
    padding-right: 20px;
    /* width: -webkit-fill-available; */
    width: 100%;
  }
  
  
}


input:not([type="checkbox"], [type="number"]) {  
  padding-right: 20px;
  width: 100%;
}

.input-group {
  position: relative;
  display: inline-block;
}
.input-group-text {
  position: absolute;
  right: 0;
  top: 20%;
}